<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'HEADING_CREATE_PASSWORDS'|trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% stylesheets output='bootstrap.css' combine=true
        '@bootstrap_less' 'css/github-fork.css' %}
        <link href="{{ asset_url|replace({'/app_dev.php': ''}) }}" type="text/css" rel="stylesheet" >
        {% endstylesheets %}
    </head>
    <body>
    <span id="forkongithub"><a href="https://github.com/hackzilla/password-generator-app">{{ 'HEADING_FORK_ME'|trans }}</a></span>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand navbar-right locale">{{ 'HEADING_LANGUAGE'|trans }}
                <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}"{% if app.request.locale == 'en' %} class="selected-locale"{% endif %}>en</a>
                <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}"{% if app.request.locale == 'fr' %} class="selected-locale"{% endif %}>fr</a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">{{ 'TOOGLE_NAVIGATION'|trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('hackzilla_password_generator_form') }}">{{ 'HEADING_CREATE_PASSWORDS'|trans }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% set route = app.request.attributes.get('_route') %}
                <ul class="nav navbar-nav">
                    <li{% if route == 'about' %} class="active"{% endif %}><a href="{{ path('about') }}">{{ 'ABOUT'|trans }}</a></li>
                    <li><a href="http://www.hackzilla.org/#contact">{{ 'CONTACT'|trans }}</a></li>
                    <li class="mode-description"><p class="navbar-text">{{ 'HEADING_SUB_DESCRIPTION'|trans }}</p></li>
                    <li{% if route == 'hackzilla_password_generator_human_form' %} class="active"{% endif %}><a href="{{ path('hackzilla_password_generator_human_form') }}">{{ 'MODE_HUMANS'|trans }}</a></li>
                    <li{% if route == 'hackzilla_password_generator_computer_form' %} class="active"{% endif %}><a href="{{ path('hackzilla_password_generator_computer_form') }}">{{ 'MODE_COMPUTERS'|trans }}</a></li>
                    <li{% if route == 'hackzilla_password_generator_hybrid_form' %} class="active"{% endif %}><a href="{{ path('hackzilla_password_generator_hybrid_form') }}">{{ 'MODE_HYBRID'|trans }}</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-3 col-lg-3"></div>
                <div class="col-sm-8 col-md-6 col-lg-6">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-sm-2 col-md-3 col-lg-3"></div>
            </div>
            <div class="push"></div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>{{ 'BUILT_BY'|trans({'%link%': '<a href="https://twitter.com/danielplatt">@danielplatt</a>'})|raw }}.</p>
            </div>
        </footer>

        {% javascripts filter='?yui_js' combine=true output='bootstrap.js'
        '@jquery_js' '@bootstrap_js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

        {% if ga_tracking is defined and ga_tracking is not empty %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ ga_tracking }}', 'auto');
          ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
