<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        {% include '::navbar.language.html.twig' %}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{{ 'TOGGLE_NAVIGATION'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('hackzilla_password_generator_form') }}">{{ 'HEADING_CREATE_PASSWORDS'|trans }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% set route = app.request.attributes.get('_route') %}
            <ul class="nav navbar-nav">
                <li{% if route == 'about' %} class="active"{% endif %}><a href="{{ path('about') }}">{{ 'ABOUT'|trans }}</a></li>
                <li><a href="http://www.hackzilla.org/#contact">{{ 'CONTACT'|trans }}</a></li>
                <li class="mode-description"><p class="navbar-text">{{ 'HEADING_SUB_DESCRIPTION'|trans }}</p></li>
                <li{% if route == 'hackzilla_password_generator_human_form' %} class="active"{% endif %}><a href="{{ path('hackzilla_password_generator_human_form') }}">{{ 'MODE_HUMANS'|trans }}</a></li>
                <li{% if route == 'hackzilla_password_generator_computer_form' %} class="active"{% endif %}><a href="{{ path('hackzilla_password_generator_computer_form') }}">{{ 'MODE_COMPUTERS'|trans }}</a></li>
                <li{% if route == 'hackzilla_password_generator_hybrid_form' %} class="active"{% endif %}><a href="{{ path('hackzilla_password_generator_hybrid_form') }}">{{ 'MODE_HYBRID'|trans }}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
